.image-back-con1{
    background-image:url(../img/011.jpg);
    height:300px;
    background-size: 100%;
    font-size: 1.5rem;
}
.image-back-con3{
    background-image: url(../img/013.jpg);
    height: 300px;
    
}